*,*::before,*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Bruno Ace SC', sans-serif;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.flex2{
    flex: 2
}
.flex3{
    flex: 3
}
.nav-background {
    background-color: black;
}
.nav {
    justify-content: space-evenly;
    align-items: center;
}
.nav > li {
    padding: 40px 0;
}
.nav > li > a {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}
.header-background {    
    padding: 72px 0 32px 0;
    background-color: black;
}
.header-picture {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people.png?raw=true);
    background-repeat: no-repeat;
    height: 848px;
    width: 49.07%;
}
.title {
    width: 49.07%;
    justify-content: center;
    flex-direction: column;
    margin-left: 24px;
}
.title > h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 400;
    line-height: 96px;
}
.flex-end {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.name {
    color: #00FFA3;
    font-size: 128px;
    font-weight: 400;
    line-height: 192px;
}
.btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 32px 32px 32px 32px;
    font-family: 'Bruno Ace SC', sans-serif;
}
.btn > img {
    display: block;
}
.intro-background {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
    background-repeat: no-repeat;
    height: 920px;
    align-items: center;
}
.intro {
    justify-content: space-between;
}
.section-left {
    flex: 5;
    margin-right: 24px;
}
.section-left > h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 96px;
    color: #FFF;
}
.section-left > p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #FFF;
}
.section-right {
    flex: 7;
    justify-content: space-between;
}
.about {
    justify-content: space-between;
    align-items: center;
    gap: 10.33%;
    padding: 160px 0;
}
.about-left {
    width: 49.07%;
}
.about-right {
    width: 40.58%;
}
.card-list {
    flex-wrap: wrap;
}
.column {
    padding: 0 12px;
    margin-bottom: 24px;
    width: 50%;
}
.card {
    border: 1px solid #E3E3E3;
    padding: 16px;
}
.card > h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.card > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.about-right > h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 96px;
}
.about-right > p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.contact-background {
    background-color: black;
}
.contact {
    padding: 96px 0;
    justify-content: space-between;
    gap: 8.71%;
}
.left-contact {
    width: 50.69%;
    align-items: center;
    /* justify-content: flex-end; */
}
.left-contact > h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 400;
    line-height: 96px;
    margin-right: 16px;
}
.left-contact > img {
    display: block;
    width: 100px;
    height: 100px;
}
.right-contact {
    margin: 0 -10px;
}
.right-contact > img {
    display: block;
    padding: 0 10px;
}
.project {
    flex-direction: column;
    padding: 160px 0;
}
.project > h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 96px;
    text-align: right;
    margin-bottom: 16px;
    margin-right: 17%;
}
.left-project{
    padding-right: 24px;
}
.project-content {
    flex-direction: column;
}
.more-content-link{
    width: 100%;
    margin-bottom: 28px;
}
.link-content {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 24px;
}
.more {
    width: 185px;
    background-color: black;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 32px 32px 32px 32px;
    font-family: 'Bruno Ace SC', sans-serif;
}
.more > img {
    display: block;
}
.bottom-pic > img {
    display: block;
}
.phone {
    margin-right: 24px;
}
.footer-background {
    background-color: black;
}
.footer {
    padding: 40px 0;
}
.footer > h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFF;
    text-align: center;
}